apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "frontend.fullname" . }}
  labels:
    {{- include "frontend.labels" . | nindent 4 }}
data:
  config.json: |
    {
      "apiUrl": {{ .Values.config.apiUrl | quote }},
      "environment": {{ .Values.config.environment | default "production" | quote }},
      "appName": {{ .Values.config.appName | default "Lobster Shop" | quote }}
    }